@import "global_variables";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center;
}

.textenter {
  width: 100%;
}