@import "global_variables";

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  position: relative;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px transparent;
  justify-content: center;
  align-items: center;
}

.author {
  color: black;
  text-align: left;
  position: absolute;
  font-size: 1vw;
  left: 2.6%;
}

.inspo {
  color: black;
  position: absolute;
  font-size: 1vw;
  right: 1.6%;
}

.title a {
  color: $acm-blue;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0; // why do we put the 0 after this? - edmond
  line-height: 1.5;
  font-size: 1.5rem;
}

.content {
  position: relative;
  margin: 2rem 0;
  padding: 1rem 0;
  align-items: center;
}

.code {
  color: white;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: $acm-blue;
  border-color: $acm-blue;
}

.card h2 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}
