$base-color: #111;
$acmwhite: #fff;

#container {
  width: 420px;
  height: 330px;
  margin: 0 auto;
  margin-top: 20vh;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper {
  width: 387px;
  height: 300px;
  position: relative;
  border-radius: 0.5rem;
}

.idcardoverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: -1rem;
  border-radius: 0.5rem;
  background-color: white;
  z-index: 9;

  .header {
    margin: 30px 20px 10px;
    border: inherit;
    border-radius: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .picwrapper {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      border: 3px solid #ddd;
      overflow: hidden;
      flex-basis: 100px;
      flex-shrink: 0;
    }

    .infowrapper {
      padding: 0 1rem;
    }

    .name {
      font-size: 24px;
      margin: 0;
    }

    .class {
      margin: 0;
      font-size: 14px;
      color: #696969;
    }
  }

  .hero {
    margin: 0 30px;
    padding: 10px;

    .rej,
    .regrets {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
    }

    .number {
      padding: 0 1rem;
      font-size: 30px;
      font-weight: bolder;
      color: #f44d4d;
      align-items: center;
    }

    .text {
      padding: 0 1rem;
      color: #696969;
      font-weight: normal;
    }
  }
}

.idcard {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $base-color;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
}
