name: Lint
on: [push]

env: 
  SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
  SHEETS_API_KEY: ${{ secrets.SHEETS_API_KEY }}
  SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}

jobs:
  run-linters:
    name: Run Linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git repo
        uses: actions/checkout@v2

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: yarn install

      - name: Run linters
        run: yarn lint
